<a href="https://colab.research.google.com/github/svineet239/laughing-memory/blob/main/pythonfileonline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= 10
b= 20
c= a*b
print(c)

200

In [ ]:
a= 20
b=30
c = a+b
print(c)

50

In [ ]:
print("my name is vineet sharma")

my name is vineet sharma

In [ ]:
print("hello python world")

hello python world

In [ ]:
a=10
b= 20
c=30
a+b+c

60

In [ ]:
a= 25
b= 30
a-b

-5

In [ ]:
x=10
y=20
if x>y:
  print ("x is greater ")
else:
  print ("y is greater")

y is greater

In [ ]:
list("vin, mini, vidhi, vani, chotu")

['v',
 'i',
 'n',
 ',',
 ' ',
 'm',
 'i',
 'n',
 'i',
 ',',
 ' ',
 'v',
 'i',
 'd',
 'h',
 'i',
 ',',
 ' ',
 'v',
 'a',
 'n',
 'i',
 ',',
 ' ',
 'c',
 'h',
 'o',
 't',
 'u']

In [ ]:
list{1
    }

SyntaxError: ignored

break statement

In [10]:
for i in range(0,80):
          print(i)
          if i==45:
                break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [12]:
for i in range(4):
      print("printing")
      if i==2:
          continue
      print(i)

printing
0
printing
1
printing
printing
3

In [27]:
l = [1,7,8]
for item in l:
       print(item)
else:
    print("DONE")

1
7
8
DONE

In [28]:
for i in range(0,8):
      print(i)

0
1
2
3
4
5
6
7

In [30]:
range(0,19j=int(input),14)

range(0, 19, 14)

In [36]:
i=1
j=int(input('enter any numberfor table generation'))
while(i<=10):
     print(j,'*',i,'=',j*i)
     i=i+1

enter any numberfor table generation15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [57]:
n = 5
product = 1
for i in range(n):
    product = product * (i+1)
print(product)

120

In [93]:
def greet("name"):
         print = "hello" + name
         return gr
    a = gr("harry"):
    print(a)

IndentationError: ignored

In [64]:
def factorial_iter (n):
    product = 1
    for i in range(n):
            product = product * (i+1)
    return product    
f = factorial_iter(5)
print(f)

120

In [66]:
def factorial_recursive(n):
    if n==1 or n==0:
        return 1
    return n * factorial_recursive(n-1)
f = factorial_recursive(5)
print(f)

120

In [85]:
def maximum(num1, num2, num3):
    if(num1>num2):
      if(num1>num3):
            return num1
      else:
          return num3
    else:
          if(num2>num3):
             return num2
          else:
           return num3
m = maximum(3, 5, 2)
print("the value of the maximum is " + str(m))

the value of the maximum is 5

In [97]:
def fahr(cel):
    return(cel *(9/5)) +32

c = 45
fahr(c)
print("fahreheit temperature is " + str(f))

fahreheit temperature is 120

In [99]:
n = 6
for i in range(n):
    print("*" * (n-i))

******
*****
****
***
**
*

In [100]:
this = " harry is a good tutor"
print(this)
print(this.strip())

 harry is a good tutor
harry is a good tutor

In [101]:
def remove_and_split(string, word):
    newstr = string.replace(word,"")
    return newstr.strip()

this = " harry is a good tutuor"
n = remove_and_split(this,"harry")
print(n)

is a good tutuor